<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='./img/favicon.ico') }}">
        <title>{{title}} | NYU</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='./css/main.css') }}">
    </head>
    <body>
        <section id="nyu-logo" onclick="window.location.href='{{ url_for('home') }}';">
            <div class="box">
                <img id="nyu-logo-header" src="{{ url_for('static', filename='./img/nyu-logo.svg') }}" alt="NYU Logo">
            </div>
            <div class="box">
                <h1>
                    Needless<span>Youth</span>
                </h1>
            </div>
            <div class="box">
                <h3>Unemployment</h3>
            </div>
        </section>
		
		{% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <center><div id="flash-container" style='color:red'><h4><b>{{ message }}</b></h4></div></center>
        {% endfor %}
        {% endif %}
        {% endwith %}
		
        <main>
            {% block content %}
            If you see this text, jinja failed.
            {% endblock content %}
        </main>

        <!-- FOOTER -->
        <footer>
            Made by Needless Youth Employment LLC. (LLC for Looking Compsci's)
        </footer>
    </body>
</html>