{% extends "base.html" %}

{% block content %}

<section id="grid-find">
    {% if opportunities %}
    <table>
        <tr>
            <th>Link</th>
            <th>Company</th>
            <th>Position</th>
            <th>Start Date</th>
            <th>Salary</th>
        </tr>
        {% for opportunity in opportunities %}
        <tr class="internships">
            {% for n in range(5) %}
            <td class="internship">
                {% if n == 0 %}
                <a href='{{ opportunity[n][1] }}'>Click Me</a>
                {% else %}
                {{ opportunity[n][1] }}
                {% endif %}
            </td>
            {% endfor %}
            {% if logged_in %}
            <form action="/add" method="post" id="{{ opportunity[0] }}">
                {% for elem in opportunity %}
                <input type="hidden" name="{{ elem[0] }}" value="{{ elem[1] }}">
                {% endfor %}
            </form>
            <button type="submit" form="{{ opportunity[0] }}" value="Apply" class="apply-submit-button">Apply</button>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    {% else %}
    No opportunities to display!
    (Work in progress)
    {% endif %}
    <div class="box">
        <div class="box-content">
            <button type="button" class="go-back-button" onclick="window.location.href='{{ url_for('home') }}';">Go Back</button>
        </div>
    </div>
</section>
{% endblock content %}