{% extends "base.html" %}

{% block content %}

<section id="grid-find">
    {% if opportunities %}
    {% for opportunity in opportunities %}
	<div>
		{% for elem in opportunity %}
		<div>
		{{ elem[0] }}: {{ elem[1] }}
		</div>
		{% endfor %}
	</div>
    {% endfor %}
    {% else %}
    No opportunities to display!
    (Work in progress)
    {% endif %}
    <div class="box">
        <div class="box-content">
            <button type="button" class="go-back-button" onclick="window.location.href='{{ url_for('home') }}';">Go Back</button>
        </div>
    </div>
</section>
{% endblock content %}