{% extends "base2.html" %}

{% block content %}
{% if status == "logged_in" %}
<section id="grid-logged-in">
    <div class="box">
        <div class="box-content">
            <button class="find-button" onclick="window.location.href='{{ url_for('find') }}';">Find</button>
        </div>
    </div>
    <div class="box">
        <div class="box-content">
            <button class="view-button" onclick="window.location.href='{{ url_for('view') }}';">View</button>
        </div>
    </div>
    <div class="box">
        <div class="box-content">
            <button class="logout-button" onclick="window.location.href='{{ url_for('logout') }}';">Logout</button>
        </div>
    </div>
</section>
{% else %}
<section id="grid-not-logged-in">
    <div class="box">
        <div class="box-content">
            <button class="login-button" onclick="window.location.href='{{ url_for('login') }}';">Login</button>
        </div>
    </div>
    <div class="box">
        <div class="box-content">
            <button class="register-button" onclick="window.location.href='{{ url_for('register') }}';">Register</button>
        </div>
    </div>
</section>
{% endif %}
{% endblock content %}