{% extends "base.html" %}

{% block content %}

<section id="grid-login-form">
    <form action="{{ url_for('auth') }}" method="POST">
        <div class="box">
            <div class="box-content">
                <div class="form-group">
                    <input type="text" name="Username" placeholder="Username">
                    <label for="Username" class="form-label">Username</label>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <div class="form-group">
                    <input type="password" name="Password" placeholder="Password">
                    <label for="Password" class="form-label">Password</label>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <div class="form-button">
                    <button type="submit" class="login-submit-button">Login</button>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <div class="form-button">
                    <button type="button" class="login-cancel-button" onclick="window.location.href='{{ url_for('home') }}';">Go Back</button>
                </div>
            </div>
        </div>
    </form>
</section>

{% endblock content %}