{% extends "base.html" %}

{% block content %}

<section id="grid-view">
    {% if applications %}
    {% for application in applications %}
	<div>
		{% for elem in application %}
		<div>
		{{ elem[0] }}: {{ elem[1] }}
		</div>
		{% endfor %}
	</div>
    {% endfor %}
    {% else %}
    No applications to display!
    (Work in progress)
    {% endif %}
    <div class="box">
        <div class="box-content">
            <button type="button" class="go-back-button" onclick="window.location.href='{{ url_for('home') }}';">Go Back</button>
        </div>
    </div>
</section>
{% endblock content %}