{% extends "base.html" %}

{% block content %}

<section id="grid-view">
    {% if applications %}
    <table>
        <tr>
            <th>Link</th>
            <th>Company</th>
            <th>Position</th>
            <th>Start Date</th>
            <th>Salary</th>
            <th>Status</th>
        </tr>
        {% for application in applications %}
        <tr class="applications">
            {% for n in range(6) %}
            <td class="internship">
                {% if n == 0 %}
                <a href='{{ application[n][1] }}'>Click Me</a>
                {% else %}
                {{ application[n][1] }}
                {% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% else %}
    No applications to display!
    (Work in progress)
    {% endif %}
    <div class="box">
        <div class="box-content">
            <button type="button" class="go-back-button" onclick="window.location.href='{{ url_for('home') }}';">Go Back</button>
        </div>
    </div>
</section>
{% endblock content %}
