body {
  margin: 0;
  padding: 0;
  background: #171717;
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-flow: column;
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

#grid-find, #grid-view, #grid-register-form form, #grid-login-form form, #grid-not-logged-in, #grid-logged-in, #nyu-logo {
  display: grid;
  grid-gap: 0.5vw;
  padding: 1vw;
  border-radius: 1vw;
}

#grid-find .box, #grid-view .box, #grid-register-form form .box, #grid-login-form form .box, #grid-not-logged-in .box, #grid-logged-in .box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #171717;
  width: 100%;
  height: 100%;
}

#grid-find table tr button, #grid-find table td button, #grid-view table tr button, #grid-view table td button, #grid-find table tr a, #grid-find table td a, #grid-view table tr a, #grid-view table td a, #grid-find .box .box-content .go-back-button, #grid-view .box .box-content .go-back-button, #grid-register-form form .box .box-content .register-cancel-button, #grid-register-form form .box .box-content .register-submit-button, #grid-login-form form .box .box-content .login-cancel-button, #grid-login-form form .box .box-content .login-submit-button, #grid-not-logged-in .box .box-content .register-button, #grid-not-logged-in .box .box-content .login-button, #grid-logged-in .box .box-content .logout-button, #grid-logged-in .box .box-content .view-button, #grid-logged-in .box .box-content .find-button {
  display: flex;
  width: 100%;
  height: 5vw;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 2vw;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 15px;
  border: 2px solid black;
  background-color: #221b25;
  outline: none;
  margin: 0;
}
#grid-find table tr button:active, #grid-find table td button:active, #grid-view table tr button:active, #grid-view table td button:active, #grid-find table tr a:active, #grid-find table td a:active, #grid-view table tr a:active, #grid-view table td a:active, #grid-find .box .box-content .go-back-button:active, #grid-view .box .box-content .go-back-button:active, #grid-register-form form .box .box-content .register-cancel-button:active, #grid-register-form form .box .box-content .register-submit-button:active, #grid-login-form form .box .box-content .login-cancel-button:active, #grid-login-form form .box .box-content .login-submit-button:active, #grid-not-logged-in .box .box-content .register-button:active, #grid-not-logged-in .box .box-content .login-button:active, #grid-logged-in .box .box-content .logout-button:active, #grid-logged-in .box .box-content .view-button:active, #grid-logged-in .box .box-content .find-button:active {
  border-color: black;
}

#grid-register-form form .box .box-content .form-group, #grid-login-form form .box .box-content .form-group {
  position: relative;
  padding: 0.7vw 0 0;
  padding-top: 0.9vw;
  height: 5vw;
}

#grid-register-form form .box .box-content .form-group input, #grid-login-form form .box .box-content .form-group input {
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #65506e;
  font-family: "Roboto", sans-serif;
  background: transparent;
  color: white;
  font-size: 3.5vw;
}
#grid-register-form form .box .box-content .form-group input::placeholder, #grid-login-form form .box .box-content .form-group input::placeholder {
  color: transparent;
}
#grid-register-form form .box .box-content .form-group input:placeholder-shown ~ .form-label, #grid-login-form form .box .box-content .form-group input:placeholder-shown ~ .form-label {
  font-size: 4.5vw;
  cursor: text;
  color: #65506e;
}
#grid-register-form form .box .box-content .form-group input:focus, #grid-login-form form .box .box-content .form-group input:focus {
  padding-bottom: 0.3vw;
  border-width: 3px;
  border-image: linear-gradient(to right, #a61eff, #7801c7);
  border-image-slice: 1;
}
#grid-register-form form .box .box-content .form-group input:focus ~ .form-label, #grid-login-form form .box .box-content .form-group input:focus ~ .form-label {
  position: relative;
  top: -5.5vw;
  display: block;
  transition: 0.2s;
  font-size: 1.5vw;
  color: #a61eff;
  font-weight: 600;
  pointer-events: none;
}

#grid-register-form form .box .box-content .form-group label, #grid-login-form form .box .box-content .form-group label {
  position: relative;
  display: block;
  top: -5.5vw;
  transition: 0.2s;
  font-size: 1.5vw;
  color: #65506e;
  pointer-events: none;
}

#grid-register-form form .box .box-content .form-button, #grid-login-form form .box .box-content .form-button {
  margin-top: 0.65vw;
}

#nyu-logo {
  grid-template-columns: 20% 80%;
  grid-auto-rows: 50%;
  max-width: 45vw;
  width: 100%;
  max-height: 12vw;
  margin-bottom: 1.5vw;
  cursor: pointer;
}
#nyu-logo .box {
  display: flex;
  justify-content: center;
  align-items: center;
}
#nyu-logo .box:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/3;
  height: 100%;
  width: 100%;
  border: 2px solid #a61eff;
}
#nyu-logo .box:nth-child(1) #nyu-logo-header {
  height: 100%;
  width: auto;
  padding: 0.5vw;
}
#nyu-logo .box:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/2;
}
#nyu-logo .box:nth-child(3) {
  grid-column: 2/3;
  grid-row: 2/3;
}
#nyu-logo h1 {
  font-size: 5vw;
  line-height: 1;
  font-weight: 900;
  color: #a61eff;
  margin: 0 0 -1.5vw 0;
}
#nyu-logo h1 span {
  color: #FFFFFF;
  font-weight: 300;
}
#nyu-logo h3 {
  color: #a61eff;
  font-size: 5vw;
  font-weight: 500;
  line-height: 1;
  margin: -1.5vw 0 0 0;
}

main {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}
main section {
  width: 100%;
  max-width: 45vw;
  background: #221b25;
  justify-items: center;
}
main .not-logged-in, main .logged-in {
  width: 100%;
}

#grid-logged-in {
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
}
#grid-logged-in .box:nth-child(1) {
  grid-column: 1;
  grid-row: 1/2;
}
#grid-logged-in .box:nth-child(2) {
  grid-column: 1;
  grid-row: 2/3;
}
#grid-logged-in .box:nth-child(3) {
  grid-column: 1;
  grid-row: 3/4;
}
#grid-logged-in .box .box-content {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
#grid-logged-in .box .box-content .find-button {
  color: #00aeef;
  border-color: #00aeef;
}
#grid-logged-in .box .box-content .find-button:hover {
  color: black;
  background-color: #00aeef;
}
#grid-logged-in .box .box-content .view-button {
  color: #006eff;
  border-color: #006eff;
}
#grid-logged-in .box .box-content .view-button:hover {
  color: black;
  background-color: #006eff;
}
#grid-logged-in .box .box-content .logout-button {
  color: #ff0000;
  border-color: #ff0000;
}
#grid-logged-in .box .box-content .logout-button:hover {
  color: black;
  background-color: #ff0000;
}

#grid-not-logged-in {
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
}
#grid-not-logged-in .box:nth-child(1) {
  grid-column: 1/2;
}
#grid-not-logged-in .box:nth-child(2) {
  grid-column: 2/3;
}
#grid-not-logged-in .box .box-content {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
#grid-not-logged-in .box .box-content .login-button {
  color: #1895e9;
  border-color: #1895e9;
}
#grid-not-logged-in .box .box-content .login-button:hover {
  color: black;
  background-color: #1895e9;
}
#grid-not-logged-in .box .box-content .register-button {
  color: #8fff7b;
  border-color: #8fff7b;
}
#grid-not-logged-in .box .box-content .register-button:hover {
  color: black;
  background-color: #8fff7b;
}

#grid-login-form {
  border-radius: 15px;
}
#grid-login-form form {
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
}
#grid-login-form form .box:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/2;
}
#grid-login-form form .box:nth-child(2) {
  grid-column: 1/3;
  grid-row: 2/3;
}
#grid-login-form form .box:nth-child(3) {
  grid-column: 1/2;
  grid-row: 3/4;
}
#grid-login-form form .box:nth-child(4) {
  grid-column: 2/3;
  grid-row: 3/4;
}
#grid-login-form form .box .box-content {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
#grid-login-form form .box .box-content .login-submit-button {
  color: #8fff7b;
  border-color: #8fff7b;
}
#grid-login-form form .box .box-content .login-submit-button:hover {
  color: black;
  background-color: #8fff7b;
}
#grid-login-form form .box .box-content .login-cancel-button {
  color: #ff0000;
  border-color: #ff0000;
}
#grid-login-form form .box .box-content .login-cancel-button:hover {
  color: black;
  background-color: #ff0000;
}

#grid-register-form {
  border-radius: 15px;
}
#grid-register-form form {
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
}
#grid-register-form form .box:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/2;
}
#grid-register-form form .box:nth-child(2) {
  grid-column: 1/3;
  grid-row: 2/3;
}
#grid-register-form form .box:nth-child(3) {
  grid-column: 1/3;
  grid-row: 3/4;
}
#grid-register-form form .box:nth-child(4) {
  grid-column: 1/2;
  grid-row: 4/5;
}
#grid-register-form form .box:nth-child(5) {
  grid-column: 2/3;
  grid-row: 4/5;
}
#grid-register-form form .box .box-content {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
#grid-register-form form .box .box-content .register-submit-button {
  color: #8fff7b;
  border-color: #8fff7b;
}
#grid-register-form form .box .box-content .register-submit-button:hover {
  color: black;
  background-color: #8fff7b;
}
#grid-register-form form .box .box-content .register-cancel-button {
  color: #ff0000;
  border-color: #ff0000;
}
#grid-register-form form .box .box-content .register-cancel-button:hover {
  color: black;
  background-color: #ff0000;
}

#grid-find, #grid-view {
  grid-template-columns: 1fr;
  color: white;
}
#grid-find .box .box-content, #grid-view .box .box-content {
  grid-column: 1;
  grid-row: 1/2;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#grid-find .box .box-content .go-back-button, #grid-view .box .box-content .go-back-button {
  color: #8c00ff;
  border-color: #8c00ff;
}
#grid-find .box .box-content .go-back-button:hover, #grid-view .box .box-content .go-back-button:hover {
  color: black;
  background-color: #8c00ff;
}
#grid-find table, #grid-view table {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
}
#grid-find table tr, #grid-find table td, #grid-view table tr, #grid-view table td {
  color: white;
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  padding: 1.5em 1.6em;
  overflow: hidden;
  list-style: none;
  border: solid white 1px;
  background: #171717;
  text-align: center;
}
#grid-find table tr a, #grid-find table td a, #grid-view table tr a, #grid-view table td a {
  font-size: 0.8vw;
  height: 2.3vw;
  color: #a61eff;
  border-color: #a61eff;
}
#grid-find table tr a:hover, #grid-find table td a:hover, #grid-view table tr a:hover, #grid-view table td a:hover {
  color: black;
  background-color: #a61eff;
}
#grid-find table tr button, #grid-find table td button, #grid-view table tr button, #grid-view table td button {
  font-size: 0.8vw;
  height: 2.3vw;
  color: white;
  border-color: white;
}
#grid-find table tr button:hover, #grid-find table td button:hover, #grid-view table tr button:hover, #grid-view table td button:hover {
  color: black;
  background-color: white;
}

footer {
  position: fixed;
  bottom: 1vw;
  font: "Roboto", sans-serif;
  font-size: 1vw;
  color: #FFFFFF;
}

/*# sourceMappingURL=main.css.map */
